.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  overflow: hidden;

  .full-width {
    width: 100%;
  }

  .name-fields {
    display: flex;
    gap: 1rem;

    .half-width {
      flex: 1;
    }
  }

  .submit-button {
    margin-top: 0.5rem;
    height: 3rem;
    font: var(--mat-sys-label-large);
    font-weight: 600;
  }
}
