# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=eztrip

# Gin Mode
GIN_MODE=debug

# CORS (optional)
# CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200

# Auth0 Configuration
AUTH0_DOMAIN=
AUTH0_ISSUER_URL=
AUTH0_AUDIENCE=
AUTH0_CLIENT_ID=your-client-id
AUTH0_CLIENT_SECRET=your-client-secret
