@use '../../../../styles/variables' as *;

:host {
  .logout-btn {
    color: $color-error;
  }

  button[mat-menu-item] {
    padding: 0.625rem 1rem;
    height: auto;
    line-height: 1.5;

    mat-icon {
      margin-right: 0.75rem;
      font-size: 1.125rem;
      width: 1.125rem;
      height: 1.125rem;
    }

    span {
      font-size: 0.8125rem;
    }

    &:hover {
      background-color: $bg-hover;
    }
  }
}
