@use '../../styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  margin-top: 4rem;
  background: $bg-primary;
  overflow-y: auto;
}

.content-wrapper {
  padding: 1.5rem;
  max-width: 100rem;
  margin: 0 auto;

  @media (max-width: 37.5rem) {
    padding: 1rem;
  }
}
