<eztrip-top-nav
  [isMobile]="isMobile()"
  (menuToggle)="toggleSidenav()"
></eztrip-top-nav>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="sidenavOpened()"
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    class="sidenav"
    [class.collapsed]="!sidenavOpened() && !isMobile()"
  >
    <eztrip-side-nav
      [collapsed]="!sidenavOpened() && !isMobile()"
      (navItemClicked)="closeSidenavOnMobile()"
    ></eztrip-side-nav>
  </mat-sidenav>

  <mat-sidenav-content
    class="main-content"
    [class.expanded]="!sidenavOpened() && !isMobile()"
  >
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
